<div class= "container">
<h1>New restaurant</h1>

<%= render "form", restaurant: @restaurant, class: "btn btn-primary" %>

<br>

<div>
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
</div>
